---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { createSlug } from "@app/util/create-slug";
import Cloud from "@app/components/Cloud.astro";
import Infobox from "@app/components/Infobox.astro";
import LayoutBase from "@app/layouts/LayoutBase.astro";

const projects = await getCollection("projects").then((collection) => {
  return collection
    .map((entry) => ({
      ...entry,
      slug: `${entry.data.date.getFullYear()}-${createSlug(entry.data.title)}`,
    }))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
});
---

<LayoutBase title="Projekte" showTagline={false}>
  <Cloud slot="header"><a href="/">Projekte</a></Cloud>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 col-sm-10">
        <div class="row g-5 row-cols-1 row-cols-sm-2 row-cols-lg-3">
          {
            projects.map((project) => (
              <div class="col">
                <a class="project-link" href={`/projekte/${project.slug}`}>
                  <Image src={project.data.icon} alt={project.data.title} />
                  <div class="project-title">
                    <Infobox>
                      <h3 class="h6 text-uppercase m-0 pt-1">
                        {project.data.title}
                      </h3>
                    </Infobox>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</LayoutBase>

<style>
  .project-link {
    display: block;
    position: relative;
  }

  .project-title {
    position: absolute;
    bottom: 0px;
    right: -40px;
    z-index: 0;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
  }
</style>
