---
import frame from "@app/assets/frame.webp";
import arrowLeft from "@app/assets/arrow-left.webp";
import arrowRight from "@app/assets/arrow-right.webp";
const imageWidth = "width: 100%; height: auto;";
import { Image } from "astro:assets";
interface Props {
  images: { image: ImageMetadata; description?: string }[];
  alt: string;
}

const { images, alt } = Astro.props;
---

<div class="row gx-1 justify-content-center">
  <div class="col-1 d-flex justify-content-center">
    <button class="button-previous">
      <Image
        src={arrowLeft}
        alt="Vorheriges Bild"
        loading="eager"
        style={imageWidth}
      />
    </button>
  </div>
  <div class="col-10">
    <section class="embla">
      <div class="embla__container">
        {
          images.map(({ image, description }, index) => (
            <div class="embla__slide">
              <Image
                src={image}
                alt={description ?? alt}
                style="width: 100%; height: 100%; object-fit: contain;"
                loading={index === 0 ? "eager" : "lazy"}
              />
            </div>
          ))
        }
      </div>
      <div class="frame" style={`background-image: url(${frame.src})`}></div>
    </section>
  </div>
  <div class="col-1 d-flex justify-content-center">
    <button class="button-next">
      <Image
        src={arrowRight}
        alt="Vorheriges Bild"
        loading="eager"
        style={imageWidth}
      />
    </button>
  </div>
</div>

<style>
  .embla {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59' height='59' viewBox='0 0 100 100'%3E%3Cg stroke='%239598AE' stroke-width='0' stroke-opacity='0.29'%3E%3Crect fill='%23D9DEFE' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
    overflow: hidden;
    aspect-ratio: 1.4163851351;
    position: relative;
  }
  .embla__container {
    display: flex;
    height: 100%;
  }

  .embla__slide {
    flex: 0 0 100%;
    height: 100%;
    min-width: 0;
  }

  .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  button {
    background: transparent;
    border: none;
    padding: 0;
  }
</style>
<script
  is:inline
  src="https://unpkg.com/embla-carousel@8.1.5/embla-carousel.umd.js"></script>
<script
  is:inline
  src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"
></script>

<script is:inline>
  const emblaNode = document.querySelector(".embla");
  const options = { loop: true };
  const plugins = [EmblaCarouselAutoplay()];
  const emblaApi = EmblaCarousel(emblaNode, options, plugins);

  const previous = document.querySelector("button.button-previous");
  const next = document.querySelector("button.button-next");

  previous?.addEventListener("click", () => {
    emblaApi.scrollPrev();
  });
  next?.addEventListener("click", () => {
    emblaApi.scrollNext();
  });
</script>
